<form>
	<ul class="multiplechoice">{{#each answers}}
		<li style="float:left;">
			<input type="radio" id="choice" name="choice" />{{{textile this}}}
		</li>
	{{/each}}</ul>
	<br style="clear:left;"/>
</form>
