<span class="part" id="{{path}}"><span id="answer-{{path}}">{{> answer}}</span><span class="warningcontainer" id="warning-{{path}}"><img src="resources/exclamation-red.png"/><span class="partwarning"></span></span></span>
